<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head.ejs') %>

<body class="checkin checkin__check_info">

    <%- include('../../partials/checkin-navigation.ejs') %>

    <main>
        <section>
            <h1>Check gegevens</h1>

            <ul class="info_list">

                <li> <%= user.name %></li>
                <li><%= user.birthDate %></li>
                <li><%= pickupTime %></li>
                <li><%= returnTime %></li>
            </ul>

            <ul class="info_list">
                <li><%= user.adress.street %></li>
                <li><%= user.adress.city %></li>
                <li><%= user.adress.zip %></li>
                <li><%= user.adress.country %></li>
            </ul>

            <a href="#" class="change_info">Wijzigen</a>

            <form action="/cars/checkin/checkInfo?car=<%= car.id %>" method="POST">
                <button class="checkin__next_button">bevestig</button>
            </form>
        </section>
        <%- include('../../partials/progress-bar.ejs') %>
    </main>

</body>

</html>