<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head.ejs') %>

<body class="checkin checkin__document_verification">

    <%- include('../../partials/checkin-navigation.ejs') %>

    <main data-router-wrapper>
        <section>

            <h1><%= driver.info.name %></h1>

            <form class="verify_document_form" action="/cars/checkin/verifyDocument?car=<%= car.id %>" method="POST">
                <% if (validated) { %>
                <section class="checkin__step_complete">
                    <%- include('../../partials/icons/complete.ejs') %>
                    <strong>Rijbewijs ontvangen</strong>
                </section>
                <% } else { %>
                <div class="loader">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <button id="verify-button">Verifieer rijbewijs</button>
                <% } %>

            </form>

            <div class="next_buttons_container">
                <% if (validated) { %>
                <a class="checkin__next_button" href="/cars/checkin/driverInfo?car=<%= car.id %>">Verder</a>
                <% } else { %>
                <a class="checkin__next_button disabled" href="">Verder</a>
                <% } %>
                <a href="#">overslaan</a>
            </div>
        </section>
        <%- include('../../partials/progress-bar.ejs') %>
    </main>
</body>

</html>