<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head.ejs') %>

<body class="checkin checkin__document_verification">

    <%- include('../../partials/checkin-navigation.ejs') %>

    <main>
        <section>

            <h1><%= driver.info.name %></h1>

            <section class="verify_document_form">
                <% if (validated) { %>
                <section class="checkin__step_complete">
                    <%- include('../../partials/icons/complete.ejs') %>
                    <strong>Rijbewijs ontvangen</strong>
                </section>
                <% } else { %>
                <section>
                    <div id='veriff-root'></div>
                    <p class="veriff-message">Je wordt doorgestuurd naar Veriff, een externe partij die de verificatie
                        van het rijbewijs
                        afhandelt.</p>
                    <p class="no-javascript">
                        Je hebt JavaScript nodig om jezelf te verifiëren, sla deze stap voor nu over of schakel
                        JavaScript in.
                    </p>
                </section>

                <% } %>

            </section>

            <div class="next_buttons_container">
                <% if (validated) { %>
                <form action="/cars/checkin/verifyDocument?car=<%= car.id %>&driver=<%= driverNumber %>" method="POST">
                    <button class="checkin__next_button">Verder</button>

                </form>
                <% } %>
                <a href="/cars/checkin/driverDone?car=<%= car.id %>&driver=<%= driverNumber %>">overslaan</a>

            </div>
        </section>
        <%- include('../../partials/progress-bar.ejs') %>
    </main>
    <script src='https://cdn.veriff.me/sdk/js/1.1/veriff.min.js'></script>
    <script src='https://cdn.veriff.me/incontext/js/v1/veriff.js'></script>
    <script src="/script/verification.js"></script>
</body>

</html>