<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head.ejs') %>

<body class="checkin checkin__document_verification_info">

    <%- include('../../partials/checkin-navigation.ejs') %>

    <main>
        <section>
            <h1>Rijbewijs verificatie</h1>
            <p>
                Upload voor iedere gebruiker een foto van de voorkant van zijn of haar rijbewijs, let op:

                <ul class="yellow_dot_list">
                    <li> Het rijbewijs is volledig in beeld
                    </li>
                    <li>Er reflecteert geen licht</li>
                </ul>
            </p>
            <div class="next_buttons_container">
                <a class="checkin__next_button"
                    href="/cars/checkin/documentVerification?car=<%= car.id %>&driver=<%= driverNumber %>">Begrepen</a>
                <a href="/cars/checkin/driverDone?car=<%= car.id %>">overslaan</a>
            </div>
        </section>
        <%- include('../../partials/progress-bar.ejs') %>
    </main>

</body>

</html>