<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head.ejs') %>

<body class="checkin__check_info checkin checkin__driver_info">
    <%- include('../../partials/checkin-navigation.ejs') %>

    <main>
        <section>
            <h2>Bestuurder <%= driverNumber %>:</h2>
            <h1><%= driver.info.name %></h1>
            <p>Check of de volgende informatie klopt bij de hierboven genoemde bestuurder en begin vervolgens de
                verificatie.
            </p>

            <ul class="info_list">
                <li><%= driver.info.name %></li>
                <li><%= driver.info.birthDate %></li>
            </ul>

            <ul class="info_list">
                <li><%= driver.info.phone %></li>
                <li><%= driver.info.email %></li>
            </ul>



            <div class="next_buttons_container">
                <a class="checkin__next_button"
                    href="/cars/checkin/personVerificationInfo?car=<%= car.id %>">Beginnen</a>
                <a href="#">overslaan</a>
            </div>
        </section>
        <%- include('../../partials/progress-bar.ejs') %>

    </main>

</body>

</html>