<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head.ejs') %>

<body class="checkin checkin__person_verification_photo">

    <%- include('../../partials/checkin-navigation.ejs') %>

    <main>
        <section>
            <h1><%= driver.info.name %></h1>

            <section class="person_photo_container">
                <button type="button" class="refresh_button">
                    <%- include('../../partials/icons/refresh.ejs') %>
                </button>
                <video id="video" autoplay></video>
                <canvas id="canvas"></canvas>

                <button type="button" id="snap" class="picture_button">
                    <%- include('../../partials/icons/camera.ejs') %>
                </button>
            </section>


            <div class="next_buttons_container">
                <form action="/cars/checkin/verifyPerson?car=<%= car.id %>" method="POST">
                    <button id="uploadButton" class="checkin__next_button disabled">Upload</button>
                </form>
                <a href="#">overslaan</a>
            </div>
        </section>
        <%- include('../../partials/progress-bar.ejs') %>

    </main>

</body>

</html>