<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head.ejs') %>

<body class="checkin checkin__verification_info">

    <%- include('../../partials/checkin-navigation.ejs') %>

    <main>
        <section>
            <h1 class="header__no_margin">Identiteit verificatie</h1>
            <p>Alle bestuurders dienen een foto te maken van hun gezicht en hun rijbewijs te valideren. In de volgende
                stappen heb je het volgende nodig:
                <ul class="yellow_dot_list">
                    <li>Een camera</li>
                    <li>Een geldig rijbewijs</li>
                </ul>
            </p>

            <div class="next_buttons_container">
                <a class="checkin__next_button"
                    href="/cars/checkin/driverInfo?car=<%= car.id %>&driver=<%= driverNumber %>">Begrepen</a>
                <a href="/cars/checkin/deposit?car=<%= car.id %>">Overslaan</a>
            </div>
        </section>
        <%- include('../../partials/progress-bar.ejs') %>

    </main>

</body>

</html>