<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body class="reservations">

    <%- include('../partials/header.ejs') %>

    <h1>Reserveringen</h1>
    <ul class="reservations__cars">
        <% reservations.forEach((car,index) => { %>
        <li>
            <img src="<%= car.imgUrl %>" alt="">
            <header>
                <h2><%= car.car %> <%= car.model %></h2>
                <ul class="detail__car_info">
                    <li><%= pickupTimes[index] %> </li>
                    <li><%= returnTimes[index] %></li>
                </ul>

                <% if(dateDifferences[index] < 8){ %>


                <% if( car.checkedIn ){ %>
                <a class="button fully_complete_button" href="/cars/<%= car.id %>">
                    Toon QR-code
                    <%- include('../partials/icons/complete.ejs') %>
                </a>
                <% } else { %>
                <a class="button" href="/cars/<%= car.id %>">Checkin</a>
                <% } %>

                <% } else { %>

                <p>Je kunt over <%= dateDifferences[index] - 7 %> dagen inchecken</p>
                <% } %>

            </header>
        </li>
        <% }) %>
    </ul>

</body>

</html>