<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body class="reservations">

    <%- include('../partials/header.ejs') %>

    <h1>Reserveringen</h1>
    <ul class="reservations__cars">
        <% reservations.forEach((car,index) => { %>
        <li>
            <img src="<%= car.imgUrl %>" alt="">
            <header>
                <h2><%= car.car %> <%= car.model %></h2>
                <ul class="detail__car_info">
                    <li><%= pickupTimes[index] %> </li>
                    <li><%= returnTimes[index] %></li>
                </ul>

                <% if(dateDifferences[index] > -8 && dateDifferences[index] <= 0 ){ %>
                <% if( car.checkedIn ){ %>

                <% if( !car.allStepsComplete ){ %>
                <p>Er zijn onafgeronde stappen</p>
                <a class="button" href="/cars/checkin?car=<%= car.id %>">Afronden</a>
                <% } %>

                <a class="button fully_complete_button" href="/cars/<%= car.id %>">
                    Toon QR-code
                    <%- include('../partials/icons/complete.ejs') %>
                </a>
                <% } else { %>

                <% if( !car.checkinStarted ){ %>
                <a class="button" href="/cars/<%= car.id %>">Checkin</a>
                <% }else{ %>
                <a class="button" href="/cars/checkin?car=<%= car.id %>">Checkin voortzetten</a>
                <% } %>

                <% } %>
                <% } else if(dateDifferences[index] > 0) { %>
                <p class="checkin_expired">Incheckperiode verlopen, check in op locatie.</p>
                <% } else { %>
                <p class="checkin_coming">Je kunt over <%= dateDifferences[index]*-1 - 7 %> dagen inchecken</p>
                <% } %>

            </header>
        </li>
        <% }) %>
    </ul>

</body>

</html>