<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body class="check-in-page">

    <%- include('../partials/header.ejs') %>

    <main>
        <section class="check-in">
            <a class="back_button" href="/cars">
                <%- include('../partials/icons/back.ejs') %>
            </a>
            <h1>Check-in</h1>

            <form action="/checkin?car=<%= car.id %>" method="POST">

                <fieldset class="field__info">
                    <legend>Gegevens
                        <span>Check of de gegevens correct zijn</span>
                    </legend>
                    <ul>
                        <li><%= user.name %></li>
                        <li>Bestuurders: <%= car.drivers[0].name %></li>
                        <li>Vanaf: <%= pickupTime %> </li>
                        <li>Tot: <%= returnTime %></li>
                    </ul>
                </fieldset>
                <fieldset class="field__id_verification">
                    <legend>Rijbewijs verificatie
                        <span>Iedere bestuurder dient zijn rijbewijs op te geven</span>
                    </legend>

                    <div>
                        <h3>Voor alle bestuurders geldt:</h3>
                        <ol>
                            <li>Upload een foto van jouw rijbewijs, let op:
                                <ul>
                                    <li>Het rijbewijs dient volledig zichtbaar te zijn</li>
                                    <li>Zorg er voor dat er geen licht weerkaatst op het document</li>
                                </ul>
                            </li>
                            <li>Klik op upload om de foto te versturen</li>
                        </ol>

                        <ul>
                            <% car.drivers.forEach(driver => { %>
                            <% if (driver.validated){ %>
                            <li><%= driver.name %> V</li>
                            <% } else { %>
                            <li><%= driver.name %> X</li>
                            <% } %>
                            <% }) %>
                        </ul>
                    </div>
                    <div>
                        <select name="" id="">
                            <% car.drivers.forEach(driver => { %>
                            <option value="<%= driver.name %>"><%= driver.name %></option>
                            <% }) %>
                        </select>
                        <label for="photo" class="id-placeholder">
                            <span>klik om een foto te uploaden</span>
                            <% car.drivers.forEach(driver => { %>
                            <img src="/style/images/noPerson.png" alt="">
                            <% }) %>
                        </label>
                        <input type="file" id="photo">
                        <button class="action_button" type="button">Upload</button>
                    </div>

                </fieldset>
                <fieldset class="field__id_verification field__person">
                    <legend>Persoon verificatie
                        <span>Iedere bestuurder dient zijn of haar gezicht te fotograferen.</span>
                    </legend>

                    <div>
                        <h3>Voor alle bestuurders geldt:</h3>
                        <ol>
                            <li>Maak een foto van jouw gezicht, let op:
                                <ul>
                                    <li>Hoofddeksels niet toegestaan</li>
                                    <li>Oren, ogen en neus dienen zichtbaar te zijn</li>
                                    <li>Kijk recht in de camera</li>
                                </ul>
                            </li>
                            <li>Klik op 'upload' om de verificatie te starten</li>
                        </ol>

                        <ul>
                            <% car.drivers.forEach(driver => { %>
                            <% if (driver.validated){ %>
                            <li><%= driver.name %> V</li>
                            <% } else { %>
                            <li><%= driver.name %> X</li>
                            <% } %>
                            <% }) %>
                        </ul>
                    </div>
                    <div>
                        <select name="" id="">
                            <% car.drivers.forEach(driver => { %>
                            <option value="<%= driver.name %>"><%= driver.name %></option>
                            <% }) %>
                        </select>
                        <div class="photo-placeholder">
                            <video id="webcam" autoplay playsinline width="640" height="480"></video>
                            <img class="photo-preview" src="/style/images/transparent.png" alt="">

                            <canvas id="canvas" class="d-none"></canvas>
                            <% car.drivers.forEach(driver => { %>
                            <input type="hidden" class="photo" name="userPhoto">
                            <% }) %>
                            <button class="action_button photo_button" type="button">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="36.174px"
                                    height="36.174px" viewBox="0 0 36.174 36.174"
                                    style="enable-background:new 0 0 36.174 36.174;" xml:space="preserve">
                                    <g>
                                        <path d="M23.921,20.528c0,3.217-2.617,5.834-5.834,5.834s-5.833-2.617-5.833-5.834s2.616-5.834,5.833-5.834
            S23.921,17.312,23.921,20.528z M36.174,12.244v16.57c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4v-16.57c0-2.209,1.791-4,4-4h4.92
            V6.86c0-1.933,1.566-3.5,3.5-3.5h11.334c1.934,0,3.5,1.567,3.5,3.5v1.383h4.92C34.383,8.244,36.174,10.035,36.174,12.244z
             M26.921,20.528c0-4.871-3.963-8.834-8.834-8.834c-4.87,0-8.833,3.963-8.833,8.834s3.963,8.834,8.833,8.834
            C22.958,29.362,26.921,25.399,26.921,20.528z" />
                                    </g>
                                </svg>

                            </button>
                        </div>

                        <button class="action_button photo_upload_button" type="button">upload</button>
                    </div>

                </fieldset>

                <fieldset class="field__deposit">

                    <legend>Borg betalen</legend>

                    <label for="ideal">ideal</label>

                    <input type="radio" name="payment" id="ideal" checked>
                    <label for="credit">credit</label>
                    <input type="radio" name="payment" id="credit">


                    <fieldset>
                        <label for="name">IDEAL BETALEN</label>
                        <input type="text" id="name">

                        <label for="cardnumber">Kaartnummer</label>
                        <input type="text" id="cardnumber">

                        <div>
                            <div>
                                <label for="expiry-date">Vervaldatum</label>
                                <input type="text" id="expiry-date" placeholder="DD/MM" maxlength="5">
                            </div>
                            <div>
                                <label for="security-code">Veiligheidscode</label>
                                <input type="text" id="security-code">
                            </div>
                        </div>
                        <button type="button" class="pay_button action_button">Betaal</button>
                    </fieldset>

                    <fieldset>
                        <label for="name">Naam op de creditcard</label>
                        <input type="text" id="name">

                        <label for="cardnumber">Kaartnummer</label>
                        <input type="text" id="cardnumber">

                        <div>
                            <div>
                                <label for="expiry-date">Vervaldatum</label>
                                <input type="text" id="expiry-date" placeholder="DD/MM" maxlength="5">
                            </div>
                            <div>
                                <label for="security-code">Veiligheidscode</label>
                                <input type="text" id="security-code">
                            </div>
                        </div>
                        <button type="button" class="pay_button action_button">Betaal</button>
                    </fieldset>

                </fieldset>

                <div class="form_nav">
                    <button class="prev" type="button">Vorige</button>
                    <ul class="progress">
                        <li><span>Gegevens</span></li>
                        <li><span>Verificatie</span></li>
                        <li><span>Borg</span></li>
                    </ul>
                    <div>
                        <button class="next" type="button">Volgende</button>
                        <button type="submit" class="submit">Check-in</button>
                    </div>
                </div>
            </form>
        </section>

    </main>
    <script src="/script/script.js"></script>
</body>

</html>