<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body class="detail">

    <%- include('../partials/header.ejs') %>

    <main>
        <section class="check-in">
            <h1>Check-in</h1>

            <form action="/checkin?car=<%= car.id %>" method="POST">

                <fieldset class="field__info">
                    <legend>Gegevens</legend>
                    <p>Check of de gegevens correct zijn</p>
                    <ul>
                        <li><%= user.name %></li>
                        <li>Bestuurder: <%= car.drivers[0].name %></li>
                        <li><%= pickupTime %> </li>
                        <li><%= returnTime %></li>
                    </ul>
                </fieldset>
                <fieldset class="field__id_verification">
                    <legend>Rijbewijs verificatie</legend>
                    <label for="photo" class="id-placeholder">klik om een foto te uploaden</label>
                    <input type="file" id="photo">
                </fieldset>

                <fieldset class="field__deposit">
                    <legend>Borg betalen</legend>

                    <label for="name">Naam op de creditcard</label>
                    <input type="text" id="name">

                    <label for="cardnumber">Kaartnummer</label>
                    <input type="text" id="cardnumber">

                    <div>
                        <div>
                            <label for="expiry-date">Vervaldatum</label>
                            <input type="text" id="expiry-date" placeholder="DD/MM" maxlength="5">
                        </div>
                        <div>
                            <label for="security-code">Veiligheidscode</label>
                            <input type="text" id="security-code">
                        </div>
                    </div>
                </fieldset>

                <div class="form_nav">
                    <button class="prev" type="button">Vorige</button>
                    <ul class="progress">
                        <li>Gegevens</li>
                        <li>Verificatie</li>
                        <li>Borg</li>
                    </ul>
                    <button class="next" type="button">Volgende</button>
                </div>
                <button type="submit">Voltooi check-in</button>
            </form>
        </section>

    </main>
    <script src="/script/script.js"></script>
</body>

</html>