<section class="checkin__progress_bar">
    <ul>
        <li class="<%= status.infoStatus %>">
            <%- include('./icons/notes.ejs') %>
        </li>
        <li class="<%= status.verifyStatus %>">
            <%- include('./icons/id.ejs') %>
        </li>
        <li class="<%= status.paymentStatus %>">
            <%- include('./icons/credit-card.ejs') %>
        </li>
    </ul>
</section>